<div class="container">

  <form id="bihu" class="form-horizontal">

    <div id="config">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="CityCode" class="col-sm-5 control-label">投保城市</label>
            <div class="col-sm-7">
              <select id="CityCode" ng-options="+(id) as city for (id, city) in ctrl.supportCities" ng-model="ctrl.query.CityCode" class="form-control">
                <option value="">请选择投保城市</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="LicenseNo" class="col-sm-5 control-label">车牌号</label>
            <div class="col-sm-7">
              <input id="LicenseNo" ng-model="ctrl.query.LicenseNo" type="text" class="form-control" placeholder="车牌号">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="CarOwnersName" class="col-sm-5 control-label">车主姓名</label>
            <div class="col-sm-7">
              <input id="CarOwnersName" ng-model="ctrl.query.CarOwnersName" type="text" class="form-control" placeholder="车主姓名">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="IsLastYearNewCar" class="col-sm-5 control-label">是否新车</label>
            <div class="col-sm-7">
              <select id="IsLastYearNewCar" ng-model="ctrl.query.IsLastYearNewCar" class="form-control">
                <option value="1">旧车</option>
                <option value="2">去年新车</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="InsuredMobile" class="col-sm-5 control-label">手机号</label>
            <div class="col-sm-7">
              <input id="InsuredMobile" ng-model="ctrl.query.InsuredMobile" type="text" class="form-control" placeholder="手机号">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="IdCard" class="col-sm-5 control-label">车主身份证号</label>
            <div class="col-sm-7">
              <input id="IdCard" ng-model="ctrl.query.IdCard" type="text" class="form-control" placeholder="车主身份证号">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <div class="form-group">
              <label for="CarVin" class="col-sm-5 control-label">车架号</label>
              <div class="col-sm-7">
                <input id="CarVin" ng-model="ctrl.query.CarVin" type="text" class="form-control" placeholder="车驾号">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <div class="form-group">
              <label for="EngineNo" class="col-sm-5 control-label">发动机号</label>
              <div class="col-sm-7">
                <input id="EngineNo" ng-model="ctrl.query.EngineNo" type="text" class="form-control" placeholder="发动机号">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <button class="btn btn-primary pull-right" ng-click="ctrl.reinsure()">加载信息</button>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="ForceTax" class="col-sm-5 control-label">报价类型</label>
            <div class="col-sm-7">
              <select id="ForceTax" ng-model="ctrl.query.ForceTax" class="form-control">
                <option value="0">单商业</option>
                <option value="1">商业+交强车船</option>
                <option value="2">单交强+车船</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-4"></div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="RegisterDate" class="col-sm-5 control-label">注册日期</label>
            <div class="col-sm-7">
              <input id="RegisterDate" ng-model="ctrl.query.RegisterDate" datetime="yyyy-MM-dd" datetime-model="yyyy-MM-dd" type="text" class="form-control" placeholder="注册日期">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="MoldName" class="col-sm-5 control-label">品牌型号</label>
            <div class="col-sm-7">
              <input id="MoldName" ng-model="ctrl.query.ModleName" type="text" class="form-control" placeholder="品牌型号">
            </div>
          </div>
        </div>
        <div class="col-sm-4"></div>
      </div>

      <div class="row">
        <div class="col-sm-4">
          <div class="form-group">
            <label for="BizStartDate" class="col-sm-5 control-label">商业险起保日期</label>
            <div class="col-sm-7">
              <input id="BizStartDate" ng-model="ctrl.query.BizStartDate" datetime="yyyy-MM-dd" datetime-model="yyyy-MM-dd" type="text" class="form-control" placeholder="商业险起保日期" uib-tooltip="除非明确知道商业险起保日期，否则不建议传">
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="ForceStartDate" class="col-sm-5 control-label">交强险起保日期</label>
            <div class="col-sm-7">
              <input id="ForceStartDate" ng-model="ctrl.query.ForceStartDate" datetime="yyyy-MM-dd" datetime-model="yyyy-MM-dd" type="text" class="form-control" placeholder="交强险起保日期" uib-tooltip="始终不建议传">
            </div>
          </div>
        </div>
        <div class="col-sm-4">

        </div>
      </div>
    </div>

    <div id="selection" class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title pull-left">保险配置</h3>
        <button class="btn btn-primary pull-right" type="button" ng-click="ctrl.createQuote()" ng-disabled="ctrl.cantQuote()">提交</button>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body">

        <table class="table table-bordered">
          <thead>
            <tr class="text-nowrap">
              <th>险种</th>
              <th></th>
              <th>不记免赔</th>
              <th ng-repeat="(supplier, value) in ctrl.result">{{supplier | bihuCompany}}</th>
            </tr>
            <tr class="lcb-summary">
              <td>状态</td>
              <td></td>
              <td></td>
              <td ng-repeat="(supplier, value) in ctrl.result">{{value.QuoteResult}}</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>交强险</td>
              <td></td>
              <td></td>
              <td ng-repeat="(supplier, value) in ctrl.result">{{value.ForceTotal}}</td>
            </tr>
            <tr>
              <td>车船税</td>
              <td></td>
              <td></td>
              <td ng-repeat="(supplier, value) in ctrl.result">{{value.TaxTotal}}</td>
            </tr>
            <tr class="lcb-summary">
              <td>商业险合计</td>
              <td></td>
              <td></td>
              <td ng-repeat="(supplier, value) in ctrl.result">{{value.BizTotal}}</td>
            </tr>
            <tr>
              <td>机动车损失险</td>
              <td><input id="CheSun" ng-model="ctrl.quote.CheSun" type="checkbox" ng-true-value="1" ng-false-value="0"></td>
              <td><input id="BuJiMianCheSun" ng-model="ctrl.quote.BuJiMianCheSun" type="checkbox" ng-true-value="1" ng-false-value="0"></td>
              <td ng-repeat="(supplier, value) in ctrl.result"><lcb-json-table json="value.CheSun"></lcb-json-table><lcb-json-table json="value.BuJiMianCheSun"></lcb-json-table></td>
            </tr>
            <tr>
              <td>机动车损失无法找到第三方特约险</td>
              <td>
                <input id="HcSanFangTeYue" ng-model="ctrl.quote.HcSanFangTeYue" type="checkbox" ng-true-value="1" ng-false-value="0">
              </td>
              <td></td>
              <td ng-repeat="(supplier, value) in ctrl.result"><lcb-json-table json="value.HcSanFangTeYue"></lcb-json-table></td>
            </tr>
            <tr>
              <td>第三者责任险</td>
              <td>
                <select id="SanZhe" ng-model="ctrl.quote.SanZhe" class="form-control">
                  <option value="0">不投保</option>
                  <option>100000</option>
                  <option>200000</option>
                  <option>300000</option>
                  <option>500000</option>
                  <option>1000000</option>
                  <option>2000000</option>
                </select>
              </td>
              <td><input id="BuJiMianSanZhe" ng-model="ctrl.quote.BuJiMianSanZhe" type="checkbox" ng-true-value="1" ng-false-value="0"></td>
              <td ng-repeat="(supplier, value) in ctrl.result"><lcb-json-table json="value.SanZhe"></lcb-json-table><lcb-json-table json="value.BuJiMianSanZhe"></lcb-json-table></td>
            </tr>
            <tr>
              <td>司机险</td>
              <td>
                <select id="SiJi" ng-model="ctrl.quote.SiJi" class="form-control">
                  <option value="0">不投保</option>
                  <option>10000</option>
                  <option>20000</option>
                  <option>30000</option>
                  <option>50000</option>
                  <option>100000</option>
                  <option>200000</option>
                </select>
              </td>
              <td><input id="BuJiMianSiJi" ng-model="ctrl.quote.BuJiMianSiJi" type="checkbox" ng-true-value="1" ng-false-value="0"></td>
              <td ng-repeat="(supplier, value) in ctrl.result"><lcb-json-table json="value.SiJi"></lcb-json-table><lcb-json-table json="value.BuJiMianSiJi"></lcb-json-table></td>
            </tr>
            <tr>
              <td>乘客险</td>
              <td>
                <select id="ChengKe" ng-model="ctrl.quote.ChengKe" class="form-control">
                  <option value="0">不投保</option>
                  <option>10000</option>
                  <option>20000</option>
                  <option>30000</option>
                  <option>50000</option>
                  <option>100000</option>
                  <option>200000</option>
                </select>
              </td>
              <td><input id="BuJiMianChengKe" ng-model="ctrl.quote.BuJiMianChengKe" type="checkbox" ng-true-value="1" ng-false-value="0"></td>
              <td ng-repeat="(supplier, value) in ctrl.result"><lcb-json-table json="value.ChengKe"></lcb-json-table><lcb-json-table json="value.BuJiMianChengKe"></lcb-json-table></td>
            </tr>
            <tr>
              <td>盗抢险</td>
              <td><input id="DaoQiang" ng-model="ctrl.quote.DaoQiang" type="checkbox" ng-true-value="1" ng-false-value="0"></td>
              <td><input id="BuJiMianDaoQiang" ng-model="ctrl.quote.BuJiMianDaoQiang" type="checkbox" ng-true-value="1" ng-false-value="0"></td>
              <td ng-repeat="(supplier, value) in ctrl.result"><lcb-json-table json="value.DaoQiang"></lcb-json-table><lcb-json-table json="value.BuJiMianDaoQiang"></lcb-json-table></td>
            </tr>
            <tr>
              <td>玻璃险</td>
              <td>
                <select id="BoLi" ng-model="ctrl.quote.BoLi" class="form-control">
                  <option value="0">不投保</option>
                  <option value="1">国产玻璃</option>
                  <option value="2">进口玻璃</option>
                </select>
              </td>
              <td></td>
              <td ng-repeat="(supplier, value) in ctrl.result"><lcb-json-table json="value.BoLi"></lcb-json-table></td>
            </tr>
            <tr>
              <td>划痕险</td>
              <td>
                <select id="HuaHen" ng-model="ctrl.quote.HuaHen" class="form-control">
                  <option value="0">不投保</option>
                  <option>2000</option>
                  <option>5000</option>
                  <option>10000</option>
                  <option>20000</option>
                </select>
              </td>
              <td><input id="BuJiMianHuaHen" ng-model="ctrl.quote.BuJiMianHuaHen" type="checkbox" ng-true-value="1" ng-false-value="0"></td>
              <td ng-repeat="(supplier, value) in ctrl.result"><lcb-json-table json="value.HuaHen"></lcb-json-table><lcb-json-table json="value.BuJiMianHuaHen"></lcb-json-table></td>
            </tr>
            <tr>
              <td>自燃险</td>
              <td><input id="ZiRan" ng-model="ctrl.quote.ZiRan" type="checkbox" ng-true-value="1" ng-false-value="0"></td>
              <td><input id="BuJiMianZiRan" ng-model="ctrl.quote.BuJiMianZiRan" type="checkbox" ng-true-value="1" ng-false-value="0"></td>
              <td ng-repeat="(supplier, value) in ctrl.result"><lcb-json-table json="value.ZiRan"></lcb-json-table><lcb-json-table json="value.BuJiMianZiRan"></lcb-json-table></td>
            </tr>
            <tr>
              <td>涉水险</td>
              <td><input id="SheShui" ng-model="ctrl.quote.SheShui" type="checkbox" ng-true-value="1" ng-false-value="0"></td>
              <td><input id="BuJiMianSheShui" ng-model="ctrl.quote.BuJiMianSheShui" type="checkbox" ng-true-value="1" ng-false-value="0"></td>
              <td ng-repeat="(supplier, value) in ctrl.result"><lcb-json-table json="value.SheShui"></lcb-json-table><lcb-json-table json="value.BuJiMianSheShui"></lcb-json-table></td>
            </tr>
            <!--tr>
              <td>指定修理厂险</td>
              <td><input id="HcXiuLiChang" ng-model="ctrl.quote.HcXiuLiChang" type="checkbox" ng-true-value="1" ng-false-value="0"></td>
              <td></td>
              <td ng-repeat="(supplier, value) in ctrl.result"><lcb-json-table json="ctrl.getQuoteDetail(value.data, 'factory')"></lcb-json-table></td>
            </tr-->
            <tr>
              <td>精神损害抚慰金</td>
              <td>
                <select id="HcJingShenSunShi" ng-model="ctrl.quote.HcJingShenSunShi" class="form-control">
                  <option value="0">不投保</option>
                  <option>10000</option>
                  <option>20000</option>
                  <option>30000</option>
                  <option>40000</option>
                  <option>50000</option>
                </select>
              </td>
              <td><input id="BuJiMianJingShenSunShi" ng-model="ctrl.quote.BuJiMianJingShenSunShi" type="checkbox" ng-true-value="1" ng-false-value="0"></td>
              <td ng-repeat="(supplier, value) in ctrl.result"><lcb-json-table json="value.HcJingShenSunShi"></lcb-json-table><lcb-json-table json="value.BuJiMianJingShenSunShi"></lcb-json-table></td>
            </tr>
            <!--tr>
              <td>修理期费用补偿</td>
              <td>
                <select id="HcFeiYongBuChang" ng-model="ctrl.quote.HcFeiYongBuChang" class="form-control">
                  <option value="0">不投保</option>
                  <option>100</option>
                  <option>200</option>
                  <option>300</option>
                </select>
              </td>
              <td></td>
              <td ng-repeat="(supplier, value) in ctrl.result"><lcb-json-table json="ctrl.getQuoteDetail(value.data, 'repair')"></lcb-json-table></td>
            </tr-->
          </tbody>
        </table>

      </div>
    </div>

  </form>

  <div id="credit" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">出险信息</h3>
    </div>
    <div class="panel-body">
      <table class="table table-bordered" ng-if="ctrl.credit.List.length > 0">
        <thead>
        <tr>
          <th>保险公司</th>
          <th>出险金额</th>
          <th>结案时间</th>
          <th>出险时间</th>
        </tr>
        <tr ng-repeat="i in ctrl.credit.List">
          <td>{{i.PayCompanyName}}</td>
          <td>{{i.PayAmount}}</td>
          <td>{{i.EndcaseTime}}</td>
          <td>{{i.LossTime}}</td>
        </tr>
        </thead>
      </table>
      <div ng-if="ctrl.credit.List.length == 0">查不到出险信息</div>
      <pre pretty-json="ctrl.credit"></pre>
    </div>
  </div>

  <div id="info" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">续保信息</h3>
    </div>
    <div class="panel-body">
      <pre pretty-json="ctrl.info"></pre>
    </div>
  </div>

  <div id="result" class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">报价结果</h3>
    </div>
    <div class="panel-body">
      <pre pretty-json="ctrl.result"></pre>
    </div>
  </div>

</div>