<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>开开保</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <base href="/" />
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <link rel="stylesheet" href="bower_components/leaflet/dist/leaflet.css">
  <link rel="stylesheet" href="dist/bootstrap.css">
  <link rel="stylesheet" href="dist/font-awesome.css">
  <link rel="stylesheet" href="dist/all.css">
</head>
<body ng-app="lcbapp">

  <%- body %>

  <!-- build:js dist/rt.js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
  <script src="bower_components/angular-block-ui/dist/angular-block-ui.js"></script>
  <script src="bower_components/angular-dialog-service/dist/dialogs.js"></script>
  <script src="bower_components/angular-prompt/angular-prompt.js"></script>
  <script src="bower_components/checklist-model/checklist-model.js"></script>
  <script src="bower_components/angular-base64-upload/src/angular-base64-upload.js"></script>
  <script src="bower_components/ngstorage/ngStorage.js"></script>
  <script src="bower_components/angular-translate/angular-translate.js"></script>
  <script src="bower_components/lodash/lodash.js"></script>
  <script src="bower_components/angular-datetime/dist/datetime.js"></script>
  <script src="bower_components/moment/moment.js"></script>
  <!-- endbuild -->
  <!-- build:js dist/vendor.js -->
  <script src="bower_components/ng-prettyjson/dist/ng-prettyjson.min.js"></script>
  <script src="bower_components/json-editor/dist/jsoneditor.js"></script>
  <script src="bower_components/angular-json-editor/dist/angular-json-editor.js"></script>
  <script src="bower_components/leaflet/dist/leaflet-src.js"></script>
  <script src="bower_components/leaflet-providers/leaflet-providers.js"></script>
  <script src="bower_components/Leaflet.ChineseTmsProviders/src/leaflet.ChineseTmsProviders.js"></script>
  <script src="vendor/polyline.js"></script>
  <!-- endbuild -->

  <script src="dist/app.js"></script>
  <script src="dist/templates.js"></script>

</body>
</html>
